{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <!-- Brand & Logo -->
            <a class="navbar-brand" href="/">
                <img class="logo" src=" {% static 'global/images/logo.png' %} " alt="">
            </a>

            <!-- Navbar Toggler Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Actual Navbar -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genres
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'genre' 'Fantasy' %} ">Fantasy</a>
                            <a class="dropdown-item" href="{% url 'genre' 'Aventure' %} ">Aventure</a>
                            <a class="dropdown-item" href="{% url 'genre' 'Romance' %} ">Romance</a>
                        </div>
                    </li>
                </ul>

                <!-- Novel Searchbar -->
                <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0 search-bar">
                    <input name="search_term" class="form-control mr-sm-2 search-bar-input" type="search" placeholder="Entrez le nom d'un roman"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 search-bar-submit" type="submit">Chercher</button>
                </form>



                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                     <!-- User Account Dropdown -->
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mon Compte
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href=" {% url 'my_creations' %} ">Mes Créations</a>
                            <a class="dropdown-item" href="">Ma Bibliothèque</a>
                            <a class="dropdown-item" href="">Mon Compte</a>
                            <a class="dropdown-item" href="">Mes Notifications</a>
                            <a class="dropdown-item" href=" {% url 'logout' %} ">Se Déconnecter</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'signup' %} ">S'inscrire</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href=" {% url 'login' %} ">Se Connecter</a>
                    </li>
                    {% endif %}


                </ul>


            </div>

        </div>
    </nav>
</header>