{% extends 'global/base.html' %}
{% load static %}
{% block additional_stylesheets %}
<link rel="stylesheet" href="{% static 'novels/css/novel.css' %}">
<link rel="stylesheet" href="{% static 'novels/css/chapter.css' %}">
{% endblock additional_stylesheets %}
{% block active_container %}{% endblock active_container %}
{% block content %}
<div class="progress"></div>
<!-- New Novels -->
<div class="container">
<section>
    <h1 id="up" class="section-title">Chapitres</h1>
    <div class="section-title-underbar underbar"></div>
    <div class="section-content">
        <div class="row">
            <div class="col-md-4">
                <div class="novel-chapter-list">
                    {% if chapters %}
                    {% for chapter in chapters %}
                    <div class="novel-chapter-li">
                        <a href=" {% url 'chapter' novel.id chapter.id %} " class="novel-chapter-li-title {% if chapter.id == current_chapter.id %}active-chapter{% endif %}">
                            Chapitre {{ forloop.counter }}: {{ chapter.title }}
                        </a>
                        <p class="novel-chapter-li-date"> publié: {{ chapter.created_at }} </p>
                    </div>
                    <hr />
                    {% endfor %}
                    {% else %}
                    <h5>Pas de chapitres disponibles</h5>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="chapter-content">
                    {% autoescape on %}
                    <p class="chapter"> {{ current_chapter.content|safe }} </p>
                    {% endautoescape %}
                </div>

            </div>
        </div>
    </div>
</section>
</div>

<div id="down"></div>
<div class="navigation-buttons">
    <a href="#up">
        <div class="go-up">
            <img class="navigation-button-icon" src="{% static 'global/images/icons/svg/004-up%20arrow.svg' %}" alt=""
                srcset="">
        </div>
    </a>
    <a href="#down">
        <div class="go-down">
            <img class="navigation-button-icon" src="{% static 'global/images/icons/svg/002-down%20arrow.svg' %}" alt=""
                srcset="">
        </div>
    </a>
</div>
{% endblock content %}

    {% block additional_scripts %}
    <script src="{% static 'novels/js/reading_progress.js' %}"></script>
    {% endblock additional_scripts %}