{% extends 'global/base.html' %}
{% load static %}
{% block additional_stylesheets %}
<link rel="stylesheet" href="{% static 'novels/css/novel.css' %}">
<link rel="stylesheet" href="{% static 'novels/css/chapter.css' %}">
<link rel="stylesheet" href="{% static 'novels/css/dark_mode.css' %}">
{% endblock additional_stylesheets %}
{% block active_container %}{% endblock active_container %}
{% block content %}

<!-- Progress bars -->
<div class="progress"></div>

<div class="container">
    <section>
    <p>Temps de lecture estimé: {{ reading_time }} minute(s)</p>
        <h1 class="section-title">Chapitres</h1>
        <div class="section-title-underbar underbar"></div>
        
        <div class="section-content">
            <div class="row">
                <div class="col-md-4">
                <!-- Chapter List -->
                <img class="chapter-list-toggle" src="{% static 'global/images/icons/svg/001-square.svg' %}" alt="chapters"srcset="">
                    {% include 'novels/blocks/chapter_list.html' %}
                </div>
                <div id="up" class="col-md-8">
                    <!-- Chapter Navigator -->
                    {% include 'novels/blocks/chapter_navigator.html' %}

                    <!-- Chapter Content -->
                    <div onmousedown="return false" onselectstart="return false" class="chapter-content unselectable">
                        {% autoescape on %}
                        <p> {{ current_chapter.content|safe }} </p>
                        {% endautoescape %}
                    <div id="down"></div>
                    </div>

                    <!-- Chapter Navigator -->
                    {% include 'novels/blocks/chapter_navigator.html' %}
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Chapter Commands -->
{% include 'novels/blocks/chapter_commands.html' %}
{% endblock content %}

{% block additional_scripts %}
<script src="{% static 'novels/js/reading_progress.js' %}"></script>
<script src="{% static 'novels/js/chapter_list.js' %}"></script>
<script src="{% static 'novels/js/dark_mode.js' %}"></script>
{% endblock additional_scripts %}