{% load static %}
<img class="chapter-list-toggle" src="{% static 'global/images/icons/svg/035-hamburger.svg' %}" alt="chapters"srcset="">
<div id="chapters" class="novel-chapter-list">
    {% if chapters %}
    {% for chapter in chapters %}
    <div class="novel-chapter-li">
        <a href=" {% url 'chapter' novel.id forloop.counter  %} "
            class="novel-chapter-li-title {% if chapter.id == current_chapter.id %}active-chapter{% endif %}">
            Chapitre {{ forloop.counter }}: {{ chapter.title }}
        </a>
        <p class="novel-chapter-li-date"> publié: {{ chapter.created_at }} </p>
    </div>
    <hr />
    {% endfor %}
    {% else %}
    <h5>Pas de chapitres disponibles</h5>
    {% endif %}
</div>